

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-bottom: 20px;
  }

  .social-icons {
    padding-top:10px;
    padding-bottom:10px;
  }    
  .social-icons a {
    padding-right:20px;
  }

  .other-color{
    background: url(/img/giftly/giftly.png);
  }  




